.next-button {
  background: #1DA1F2;
  border-radius: 76px;
  font-family: 'Segoe UI';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  border:none
}